.background {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.techlines {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.white {
	background-color: white;
}

.centerParent {
	position: relative;
	text-align: center;
	top: 10%;
}

.home {
	height: 100%;
}

.parallax {
	background: url("https://www.mercy.edu/sites/default/files/2020-07/iStock-1182604339.jpg") no-repeat fixed center;
	background-size: cover;
	height: 500px;
	margin: 0;
	padding: 0;
}

#title {
	align-items: center;
	display: flex;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 5vmin;
	font-weight: 600;
	justify-content: center;
	min-height: 80vh;
	text-align: center;
}


div {
	cursor: none;
}
