#container {
	background-color: black;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}


#container.color {
	background-color: #c5c5c5;
	transition: background-color 500ms linear;
}
