/*
.App {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

.App {
	background-color: white;
	height: 100%;
}

.paragraph {
	border-radius: 1px;
	font-size: 20px;
	letter-spacing: 0.5px;
	line-height: 2.5;
	margin: 0 auto;
	width: 60%;
	word-spacing: 1px;
}

.indent {
	margin-left: 30%;
}

div {
	color: black;
	font-size: 20px;
}

html {
	overflow-x: hidden;
	overflow-y: hidden;
}


html.enabled {
	overflow-y: auto;
}
