.cursor {
	border-radius: 20px;
	height: 20px;
	pointer-events: none;
	width: 20px;
	z-index: 100;
}

.trail {
	border-radius: 30px;
	border-style: solid;
	border-width: 2px;
	height: 30px;
	pointer-events: none;
	width: 30px;
	z-index: 100;
}

.cursor.light {
	background: white;
}

.trail.light {
	border-color: white;
}

.cursor.dark {
	background: black;
}

.trail.dark {
	border-color: black;
}
